<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
        
        a {
            color: #00B7FF;
        }
    </style>

</head>
<h1>Wait! This site could be malicious!</h1>
<p>The site at <%= hostname %> could be malicious. This database exists for the purpose of documenting scam or phishing links.</p>
<a href="<%= url %>">I understand, take me there.</a>
</html>