<!DOCTYPE html>
<html>

<head>
    <title>ArrayBot</title>
    <style>
        body {
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
        
        a {
            color: #00B7FF;
        }
    </style>

</head>
<h1>It's empty around here.</h1>
<p>Something is coming here soon.<br />Maybe you were looking for <a href="/scammers">the scammer database?</a></p>
</html>